
# Created by https://www.gitignore.io/api/altium,ltspice
# Edit at https://www.gitignore.io/?templates=altium,ltspice

### Altium ###
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project\ Logs*/

# Project Outputs
Project\ Outputs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb


### LTspice ###
# gitignore template for LTspice
# website: https://www.analog.com/en/design-center/design-tools-and-calculators/ltspice-simulator.html

# Logfile
*.log

# Simulation Outputs
*.raw
*.fft

# Netlist
*.net

# End of https://www.gitignore.io/api/altium,ltspice
Project Outputs for E_stop/PCB1-RectHoles.TXT
Project Outputs for E_stop/PCB1.apr
Project Outputs for E_stop/PCB1.DRR
Project Outputs for E_stop/PCB1.EXTREP
Project Outputs for E_stop/PCB1.GBL
Project Outputs for E_stop/PCB1.GBS
Project Outputs for E_stop/PCB1.GM1
Project Outputs for E_stop/PCB1.GM16
Project Outputs for E_stop/PCB1.GM4
Project Outputs for E_stop/PCB1.GTL
Project Outputs for E_stop/PCB1.GTO
Project Outputs for E_stop/PCB1.GTP
Project Outputs for E_stop/PCB1.GTS
Project Outputs for E_stop/PCB1.LDP
Project Outputs for E_stop/PCB1.REP
Project Outputs for E_stop/PCB1.RUL
Project Outputs for E_stop/PCB1.TXT
Project Outputs for E_stop/Status Report.Txt
